<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>

<h1 id="big">This is a Heading</h1>
<p>hello there.</p>
{% if current_user.is_authenticated %}
  Hi {{ current_user.username }}!
{% endif %}

<form method = "POST">
<label for="fname">First name:</label>
<input type="text" id="fname" name="fname"><br><br>
<label for="lname">Last name:</label>
<input type="text" id="lname" name="lname"><br><br>
<input type="submit" value="Submit">
</form>
<div id="dynamic-data"></div>


<div>
  <form action="/update2" method="get">
      <button onClick="document.getElementById('big')" type="button">Refresh</button>
  </form>
</div>

<script>
  $(document).ready(function() {
      setInterval(function() {
          $.ajax({
              url: '/update',
              type: 'GET',
              success: function(response) {
                  $('#dynamic-data').html(response);
              }
          });
      }, 1000);
  });
</script>

</body>
</html>
